img:hover{
    opacity: 1;
    transform: scale(1.5);
    transition: all 3s linear;
}

img{
    opacity: 0;
    border: solid 40px grey;
    border: solid 5 grey;
}

p{
    font-size: 30;
}

body{
    background:grey;
    color:black;
    border: solid 10px;
    box-shadow: 10px 10px 10px #E3FC3F;
    padding:100;
    margin: 100;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGQxtcheaclbsw1vvzLyiBumkmmVqd5Uzz6Q&usqp=CAU)
}

a{
    border:dashed;
    color:black;
    box-shadow: 5px 5px 1px #FF7F00;
    padding: 30;
    color: black;
    text-shadow: 1px 1px black;
    text-decoration: none;
    background-color: orange;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSa4Mtr4OcxTdJtqupeacgayjzq-gw1tDwVcnxXMzt0pioMYUhb5A1b4oWf0cITaPQseuc&usqp=CAU)
}
