span{
color:grey;
opacity: 0.99;
text-shadow: 2px 2px black; 
}

body{
    color:black;
    font-family: Arial;
    text-align: center;
    border:dashed;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6Dr5BSyTO4tfYRY3JFU3KLVZd-NaCmuFjXw&usqp=CAU)
}

footer{
    font-family: Georgia;
    border:dashed;
    box-shadow: 10px 10px 10px #E3FC3F;
    padding: 100;
    background-color: #E3FC3F; 
    text-shadow: 1px 1px #E3FC3F;
    color: #E3FC3F;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSebVBGM6HpYpcxlL9LHYDdhoM2rQGAcua7wA&usqp=CAU)
}
img{
border:dashed;
color:black;
box-shadow: 10px 10px 10px #E3FC3F;
padding: 10;
margin: 30;
background: #E3FC3F;
}

.footer{
    color:black;
    border:dashed;
}

a{
    border:dashed;
    color:black;
    box-shadow: 5px 5px 1px #FF7F00;
    padding: 30;
    color: black;
    text-shadow: 1px 1px black;
    background-color: orange;
}

header{
    background:grey;
    color:black;
    border:dashed;
    box-shadow: 10px 10px 10px #E3FC3F;
    padding:100;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGQxtcheaclbsw1vvzLyiBumkmmVqd5Uzz6Q&usqp=CAU)
}

div{
    text-shadow: 1px 1px #E3FC3F; 
}

h1{
    text-shadow: 3px 1px #E3FC3F;
}

h2{
     text-shadow: 2px 1px #E3FC3F;
}

.header{
    text-shadow: 1px 1px #E3FC3F;
}

strong{
    text-shadow: 2px 1px #E3FC3F;
    color:black;
}

header strong{
    text-shadow: 1px 1px black;
    color:black;
}

ul{
    float: left;
    text-shadow: 1px 1px black;
}

p{
    color: black;
    background-color: blacklack;
    text-shadow: 1px 1px black;
}
