header{
    text-align: center;
    border: solid;
    border-color: blue;
    padding: 50;
    margin: 10;
    box-shadow: 10px 5px 5px blue;
    font-family: Monospace;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnuwhGcoZb-h6UvIQtbsJvLg7VvLHVq8FaVw&usqp=CAU)
}

.header{
    text-shadow: 1px 1px blue;
}

img{
    border: solid;
    border-color: blue;
    color:black;
    box-shadow: 10px 10px 10px blue;
    padding: 10;
    margin: 30;
    background: blue;
}

strong{
    text-shadow: 1px 1px black;
    background-color: white;
}

a{
     border:dashed;
     color:blue;
     box-shadow: 5px 5px 1px blue;
     padding: 30;
}

.body{
    float: left;
}

footer{
    color: black;
    border: solid;
    padding: 50;
    margin: 10;
    border-color: blue;
    text-shadow: 1px 1px blue;
    box-shadow: 10px 5px 5px blue;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwu-QXMvx_JLUJCQbmcfsabMSTtjibVY1r9g&usqp=CAU)
}

body{
    border: solid;
    border-color: blue;
    text-align: center;
    text-shadow: 1px 1px blue;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTShJFfHXFY4EIZPGmTgq_nLx0OGCrwq_L7xw&usqp=CAU)
}
