span{
color:grey;
opacity: 0.99;
text-shadow: 2px 2px #E3FC3F; 
}

body{
    color:black;
    font-family: Arial;
    text-align: center;
    border:dashed;
}

footer{
    background: grey;
    color: black;
    font-family: Georgia;
    border:dashed;
    box-shadow: 10px 10px 10px #E3FC3F;
}
img{
border:dashed;
color:black;
box-shadow: 10px 10px 10px #E3FC3F;
}

.footer{
    color:black;
    border:dashed;
}

a{
    border:dashed;
    color:black;
    box-shadow: 5px 5px 1px #FF7F00;
}

header{
    background:grey;
    color:black;
    border:dashed;
    box-shadow: 10px 10px 10px #E3FC3F;
}

div{
    text-shadow: 1px 1px #E3FC3F; 
}

h1{
    text-shadow: 3px 1px #E3FC3F;
}

h2{
     text-shadow: 2px 1px #E3FC3F;
}

.header{
    text-shadow: 1px 1px #E3FC3F;
}
