span{
color:grey;
opacity: 0.99;
text-shadow: 2px 2px black; 
}

body{
    color:black;
    font-family: Arial;
    text-align: center;
    border: solid 10px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6Dr5BSyTO4tfYRY3JFU3KLVZd-NaCmuFjXw&usqp=CAU)
}

footer{
    font-family: Georgia;
    border: solid;
    box-shadow: 10px 10px 10px #E3FC3F;
    padding: 100;
    background-color: #E3FC3F; 
    text-shadow: 1px 1px #E3FC3F;
    color: #E3FC3F;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSebVBGM6HpYpcxlL9LHYDdhoM2rQGAcua7wA&usqp=CAU)
}

.footer{
    color:black;
    border:dashed;
}

a{
    border:dashed;
    color:black;
    box-shadow: 5px 5px 1px #FF7F00;
    padding: 30;
    color: black;
    text-shadow: 1px 1px black;
    text-decoration: none;
    background-color: orange;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSa4Mtr4OcxTdJtqupeacgayjzq-gw1tDwVcnxXMzt0pioMYUhb5A1b4oWf0cITaPQseuc&usqp=CAU)
}

header{
    background:grey;
    color:black;
    border: solid 5px;
    box-shadow: 10px 10px 10px #E3FC3F;
    padding:100;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGQxtcheaclbsw1vvzLyiBumkmmVqd5Uzz6Q&usqp=CAU)
}

div{
    text-shadow: 1px 1px #E3FC3F; 
}

h1{
    text-shadow: 3px 1px #E3FC3F;
    font-size: 60px
}

h2{
     text-shadow: 2px 1px #E3FC3F;
}

.header{
    text-shadow: 1px 1px #E3FC3F;
}

strong{
    text-shadow: 2px 1px #E3FC3F;
    color:black;
}

header strong{
    text-shadow: 1px 1px black;
    color:black;
}

ul{
    float: left;
    text-shadow: 1px 1px black;
}

p{
    color: black;
    text-shadow: 1px 1px black;
    font-size: 20px;
    text-align: center;
}

body{
    padding: 20;
}

h2{
    font-size: 40px;
}

span{
    font-size: 50px;
}

img:hover{
    opacity: 1;
    transform: scale(1.5);
    transition: all 3s linear;
}

img{
    opacity: 0;
}

ul{
    transform: scale(1.5);
    background: white;
}

ol{
    font-size: 20;
    float: left;
    color: black;
    text-shadow: black;
    background: white;
}

button{
    background: white;
    border: 10px black solid;
}

button:hover{
    transform: scale(1.5);
    transition: all 3s linear;
}
